<style>

  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@400;500;600&family=Pixelify+Sans:wght@400;500;600&display=swap");

  /* light mode colors */
  body {
    --ink-color: #0e1014;
    --paper-color: #d7e7ff;
    --primary-color: #0e1014;
    --primary-pale-color: #0e101433;
    --primary-decoration-color: #0e10141a;
    --bg-color: var(--paper-color);
    --text-color: var(--ink-color);
    --text-pale-color: #394452;
    --text-decoration-color: #69798c;
    --highlight-mark-color: #d7e7ff99;
    --dither-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' shape-rendering='crispEdges'%3E%3Crect width='1' height='1' fill='%230e1014' fill-opacity='.18'/%3E%3Crect x='1' y='1' width='1' height='1' fill='%230e1014' fill-opacity='.18'/%3E%3C/svg%3E");

    --callout-note-color: #0e1014;
    --callout-tip-color: #0e1014;
    --callout-important-color: #0e1014;
    --callout-warning-color: #0e1014;
    --callout-caution-color: #0e1014;
  }

  /* dark mode colors */
  body.dark {
    --ink-color: #d7e7ff;
    --paper-color: #0e1014;
    --primary-color: #d7e7ff;
    --primary-pale-color: #d7e7ff33;
    --primary-decoration-color: #d7e7ff1a;
    --bg-color: var(--paper-color);
    --text-color: var(--ink-color);
    --text-pale-color: #9aaac0;
    --text-decoration-color: #68788e;
    --highlight-mark-color: #d7e7ff33;
    --dither-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' shape-rendering='crispEdges'%3E%3Crect width='1' height='1' fill='%23d7e7ff' fill-opacity='.12'/%3E%3Crect x='1' y='1' width='1' height='1' fill='%23d7e7ff' fill-opacity='.12'/%3E%3C/svg%3E");

    --callout-note-color: #d7e7ff;
    --callout-tip-color: #d7e7ff;
    --callout-important-color: #d7e7ff;
    --callout-warning-color: #d7e7ff;
    --callout-caution-color: #d7e7ff;
  }

  /* typography */
  body {
    --main-font: "IBM Plex Mono", monospace, sans-serif;
    --code-font: "IBM Plex Mono", monospace, sans-serif;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 60px;
    --font-size: 16px;
    --line-height: 1.75;
    --img-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-decoration-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
